* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    color: #333;
    overflow: hidden;
    margin: 0;
    padding: 0;

}